
@{
    ViewData["Title"] = "Home";
}

    <div class="centered center homepageContent blackBoxContainer no_wrap">
        <h3>A simple, quick and convenient way<br />to get your home serviced</h3>
        <h1>GET IT DONE</h1>
        <h3>In Few Clicks</h3><br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="button">GET STARTED</a>
    </div>