@{
    ViewData["Title"] = "Postings Search";
    Layout = "_Layout";
}


<div class="middle boxContainer gridContainer">
    <div>
        <h3>Search for Services</h3>
        <form asp-action="SearchResults">
            <div>
                <input name="desc" type="text" class="form-control longInput" />
                <br />
                <input type="submit" value="Search" class="button" />
            </div>
        </form>
    </div>
    <div>
        <br />
        <h3>By Category</h3>
        <form asp-action="SearchResults">
            <div>
                @*<input name="desc" type="text" class="form-control" />*@
                <button class="button">Architect</button>
                <button class="button">Electrician</button>
                <button class="button">Painter</button>
                <button class="button">Plumber</button>
            </div>
        </form>
    </div>
</div>


