@model Businesses

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="white-block">
    <div class="row">
        <div class="col-lg-6">
            <h4>Business Login</h4><hr />
            <form method="post" asp-controller="Business" asp-action="Index">
                <label>Business Username</label><br />
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="@Model.CompanyLogin" type="text" class="form-control" placeholder="username">
                    <span asp-validation-for="@Model.CompanyLogin" class="text-danger"></span>
                </div>
                <label>Password</label><br />
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="btn btn-warning float-left" type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="col-lg-1 vertical-line"></div>
        <div class="col-lg-5">
            <br />
            <h4 class="text-center">Don't have an account?</h4><br />
            <a asp-action="Registration" asp-controller="Home" class="btn btn-warning btn-block">Registration as a Customers.</a>
            <a asp-action="Registration" asp-controller="Business" class="btn btn-warning btn-block">Registration as a Business.</a>


        </div>

    </div>

</div>